@media (max-width: 640px) {
  html {
    font-size: 4.68vw;
  }
  .header {
    background-image: url("../img/football_767.jpg");
    padding-top: 2rem;
    padding-bottom: 4.25rem;
  }
  .container {
    padding-left: 1.333rem;
    padding-right: 1.333rem;
  }
  .text-logo-svg {
    width: 8.866rem;
  }
  .header-title {
    margin-top: 8.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .header-title-decoration {
    display: inline-block;
    margin-top: 1.81rem;
    margin-left: 2.81rem;
  }
  .header .buttons {
    margin-top: 6rem;
  }
  .button-download {
    padding: 0.53rem 5.4rem;
    margin-bottom: 0.9rem;
  }
  .button-svg {
    width: 1.3rem;
    margin-right: 0.46rem;
  }
  .button-text {
    font-size: 0.53rem;
    line-height: 1.2;
  }
  .section-athlets {
    padding-top: 1.66rem;
  }
  .section-img-container {
    position: relative;
  }
  .section-img-container::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-bottom: 3.67rem solid #fafafa;
  }
  .section-title {
    font-size: 3.3rem;
  }
  .section-section-number {
    font-size: 0.92rem;
    margin-right: 0.32rem;
  }
  .section-section-number::after {
    height: 0.29rem;
    margin-top: 0.133rem;
    margin-bottom: 0.2rem;
  }
  .section-section {
    padding-bottom: 3.6rem;
  }
  .section-section:first-child {
    padding-top: 1.86rem;
  }
  .section-athlets .section-section:nth-child(1) {
    background-color: #fafafa;
  }
  .section-section:nth-child(n + 2) {
    padding-top: 4rem;
  }
  .section-section-title {
    font-size: 1.53rem;
  }
  .section-section-description {
    font-weight: 400;
    margin-top: 1.86rem;
  }
  .section-players {
    padding-top: 1.4rem;
  }
  .section-players-container::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-bottom: 1.67rem solid #fafafa;
  }
  .section-players .section-section:nth-child(1) {
    background-color: #fafafa;
  }
  .section-advantage-image-container {
    width: 4.67rem;
    height: 4.67rem;
    bottom: -0.8rem;
  }
  .section-advantage-image-container-number {
    font-size: 0.93rem;
  }
  .section-advantage-image-container-number::after {
    height: 0.29rem;
    margin-top: 0.133rem;
    margin-bottom: 0.2rem;
  }
  .advantage-section-container {
    padding-top: 2.26rem;
    padding-bottom: 5rem;
  }
  .advantage-title {
    font-size: 1.87rem;
  }
  .advantage-description {
    font-size: 1.067rem;
    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
  }
  .footer {
    background-image: url("../img/game_767.jpg");
    padding-top: 6.25rem;
    padding-bottom: 0.67rem;
    min-height: 100vh;
  }
  .footer::before {
    background-color: #1e2245;
    opacity: 0.8;
  }
  .container-logo-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4.5rem;
    padding: 0.875rem 0.375rem;
    background-color: #563ca4;
    border-radius: 1.1rem;
  }
  .logo-svg {
    display: block;
    margin: auto;
    width: 3.75rem;
    fill: #ffffff;
  }
  .footer-title {
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .footer-description {
    margin-top: 0;
    text-align: center;
    font-size: 0.875rem;
  }
  .footer .buttons {
    margin-top: 4.75rem;
    margin-bottom: 5.125rem;
  }
}
