@media (min-width: 641px) and (max-width: 960px) {
  html {
    font-size: 2.08vw;
  }
  .header {
    background-image: url("../img/football_1280.jpg");
    padding-top: 2.5rem;
    padding-bottom: 4.69rem;
    background-color: #1e2245;
  }
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .text-logo-svg {
    width: 12.75rem;
  }
  .header-title {
    margin-top: 10.31rem;
    margin-left: 2.62rem;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .header-title-decoration {
    display: inline-block;
    margin-left: 6.14rem;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .buttons {
    margin-top: 18.55rem;
  }
  .button-download {
    padding: 1rem 2.56rem;
    width: 19.37rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  .button-download:nth-child(odd) {
    margin-right: 1.87rem;
  }
  .button-svg {
    width: 2.25rem;
    margin-right: 1.68rem;
  }
  .button-text {
    font-size: 0.875rem;
    line-height: 1.2;
  }
  .section-athlets, .section-players {
    position: relative;
    padding-top: 5.43rem;
  }
  .section-athlets .container {
    padding-left: 18.25rem;
  }
  .section-title,
  .advantage-title,
  .footer-title{
    font-size: 5rem;
  }
  .section-img-container{
    position: absolute;
    z-index: 1;
  }
  .section-athlets .section-img-container {
    right: 28.2rem;
    top: 6.5rem;
  }
  .section-athlets .section-image{
    max-height: 43.625rem;
  }
  .section-section-number {
    font-size: 1.125rem;
    margin-right: 0.42rem;
  }
  .section-section-number::after {
    height: 0.30rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .section-section {
    padding-top: 2.2rem;
    padding-bottom: 2.25rem;
  }
  .section-section-title {
    font-size: 2rem;
  }
  .section-section-description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
  }
  .section-players .section-img-container {
    right: 0;
    top: 3.6rem;
  }
  .section-players .section-image{
    max-height: 35.31rem;
  }
  .section-players .container {
    padding-right: 22.5rem;
  }
  .section-advantage-image-container {
    width: 7.25rem;
    height: 7.25rem;
    bottom: -2.25rem;
  }
  .section-advantage-image-container-number {
    font-size: 1.5rem;
  }
  .section-advantage-image-container-number::after {
    height: 0.31rem;
    margin-top: 0.26rem;
    margin-bottom: 0.2rem;
  }
  .advantage-section-container {
    padding-top: 5rem;
    padding-bottom: 3.5rem;
  }
  .advantage-description {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.15;
  }
  .footer {
    background-image: url("../img/game_767.jpg");
    padding-top: 7.87rem;
    padding-bottom: 1.43rem;
    background-color: #1e2245;
  }
  .footer::before {
    background-color: #1e2245;
    opacity: 0.8;
  }
  .container-logo-svg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 8.125rem;
    height: 8.5rem;
    padding: 1.625rem 0.75rem;
    background-color: #563ca4;
    border-radius: 2.6rem;
  }
  .logo-svg {
    display: block;
    margin: auto;
    width: 6.5rem;
    fill: #ffffff;
  }
  .footer-title {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .footer-description {
    margin-top: 0;
    text-align: center;
    font-size: 2.25rem;
  }
  .footer .buttons {
    margin-top: 14rem;
    margin-bottom: 3.44rem;
  }
}
@media (min-width: 961px) and (max-width: 1920px) {
}
